/04.WorkingWithImages/data/african-wildcat/
/04.WorkingWithImages/data/blackfoot-cat/
/04.WorkingWithImages/data/chinese-mountain-cat/
/04.WorkingWithImages/data/domestic-cat/
/04.WorkingWithImages/data/european-wildcat/
/04.WorkingWithImages/data/jungle-cat/
/04.WorkingWithImages/data/sand-cat/
/Project/data/aqua_modis/
/05.WorkingWithText/data/twitter_training.csv
